@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Playfair Display', serif; */
}

p{
  color: #8892b0 !important;
}

h1, i{
  color: #3281e9;
  font-size: 1.5rem !important;
  padding-bottom: 5px;
}

.resume{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  padding: 30px 100px;
  margin: auto;
}

.top-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title h1{
  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-heading{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sub-heading li{
  list-style: none;
}

.sub-heading li a{
  text-decoration: none;
  color: #000;
}

.sub-heading p{
  margin-left: 10px;
}

.social-links{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.social-links li{
  list-style: none;
  color: #000;
  align-items: center;
  display: flex;
}

.social-links li{
  margin-right: 20px;
}

.social-links li a{
  display: flex;
  text-decoration: none;
  color: #444c64;
  font-size: 1rem;
  align-items: center;
}
i{
  margin-right: 10px;
}

.resume-content{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  width: 100%;

}

.experience{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience h1{
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
}

.role{
  display:flex;
  flex-direction: column;
  width: 100%;
}

.section-title{
  padding: 15px 0px;
  width: 100%;
}

.section-title h3{
  display: flex;
  opacity: 0.8;
}
.section-title h3 a{
  margin-left: 5px;
  color: #4b5268;
  text-decoration: none;
}

.section-title p{
  margin-top: 10px;
}

.role-description{
  display: flex;
  flex-direction: column;
}
.role-description p::before{
  content: "▹";
}

.role-description p{
  padding: 5px 0px;
  color: #444c64 !important;
}

.sub-sections{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px !important;
}

.section-heading{
  padding: 5px 0px;
  width: 100%;
}

.section-heading p{
  color: #444c64 !important;
}